@import "tailwindcss";

@theme {
  
  --color-primaryColor: #00B5A0;
  --color-primaryDark : #02816E;
  --color-secondprimaryColor:#00C69B;
  --font-sans: 'vazir';

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fade-in-down: fade-in-down 0.3s ease-out forwards;
}

@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vazir';
  src: url('./assets/fonts/Vazirmatn-RD-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
